<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee;" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jsp_severlet2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- //HelloWorld helloworld = new edu,kosomo.ex.HelloWorld(); @WebServlet("/hello")은 하나밖에 안된다(/helloworld) 그러나 xml에서 /hw 여러개 가능 -->
<servlet>
        <servlet-name>helloworld</servlet-name>
        <servlet-class>edu.kosmo.ex.HelloWorld</servlet-class>
    </servlet>

    <!-- 2. 매핑 -->
    <servlet-mapping>
        <servlet-name>helloworld</servlet-name>
        <url-pattern>/hw</url-pattern>
    </servlet-mapping>
    
       <servlet-mapping>
        <servlet-name>helloworld</servlet-name>
        <url-pattern>/hw2</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>helloworld</servlet-name>
        <url-pattern>/hw3</url-pattern>
    </servlet-mapping>


</web-app>
